name: Generate Action Docs

on: [pull_request]

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-latest

    permissions:
      # Required to push changes!
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        # Required to push changes!
        ref: ${{ github.event.pull_request.head.ref }}
    
    - uses: pndurette/gh-actions-auto-docs@v1
      with:
        include_outputs: false